ul{
    list-style: none;
    margin: 2rem auto;
    width: 100%;
    max-width: 20rem;
    box-shadow: 0 2px 8px;
    padding: 1.5px;
    border-radius: 12px;
    display: flex;
    
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 33rem;
    background-color: aqua;

}

li{
    margin: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;

}
li:last-of-type,li:nth-of-type(6)
{
    border-bottom: none;
}
li a{
    color: rgb(250, 250, 250);text-decoration: none;

}
li a:hover,
li a:active{
    color: rgb(4, 0, 255);
}
